body {
  margin: 0;
  padding: 0;
  font-family: Arial Black, sans-serif;
  transition: all 0.5s ease-in-out;
  color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*Flex box/nav bar background color*/
  background-color: #464866;
  padding: 10px;
  transition: all 0.5s ease-in-out;
}

.navbar-center {
  flex-grow: 1;
  text-align: center;
  /*Centered text color when not in dark mode*/
  color: black;
}

.navbar.scroll {
  background-color: #333;
  color: #fff;
}


.navbar a {
  /*Heading text colour*/
  color: Black;
  text-decoration: none;
  margin-right: 16px;
  transition: color 0.5s ease-in-out;
}
.navbar a:hover {
  background-color: #ffa500; /* Change the background color on hover */
  color: #fff; /* Change the text color on hover */
}

.dark-mode .navbar a {
  /*dark mode enabled heading text color*/
  color: #fff;
}
.dark-mode .navbar a:hover {
  background-color: #ffa500; /* Change the background color on hover */
  color: black; /* Change the text color on hover */
}

.search-form {
  /*search bar position*/
  margin-right: 50px;
  margin-top: 10px; /* add margin-top property to move search bar down */
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 0px solid #ccc;
  border-radius: 4px;
  padding: 4px;
}

.search-container input[type="text"] {
  width: 180px;
  height: 15px;
  border: none;
  font-size: 16px;
  padding: 8px;
  outline: none;
}

.search-container button[type="submit"] {
  background-color: grey;
  border: none;
  cursor: pointer;
  padding: 0;
}

.fa-search {
  font-size: 20px;
  color: #ccc;
  margin-right: 8px;
}

.dark-mode-button {
  position: relative;
  width: 50px;
  height: 28px;
  border-radius: 16px;
  border: 2px solid #333;
  background-color: #FAF9F6;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  padding: 2px;
  /*These two variables adjust the position of the dark mode button */
  top: -32px;
  right: -220px; 
}

.dark-mode-button::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  transition: all 0.5s ease-in-out;
}

.dark-mode {
  /*darkmode page background color*/
  background-color: #706b74;
  color: white;
}

.dark-mode .navbar {
  background-color: #464866;
  color: #fff;
}

.dark-mode .dark-mode-button {
  border-color: #fff;
  background-color: #333;
}

.dark-mode .dark-mode-button::after {
  left: calc(100% - 22px);
  background-color: #ffa500;
}
.dark-mode .navbar-center {
  color: #fff;
}
.image-container {
  margin-top: 1px;
  margin-bottom: 20px;
  text-align: center;
}
.image-container img {
  display: block;
  /*Image size*/
  width: 30% auto;
  height: auto;
  margin: auto;
}
.image-container a {
  display: border-box;
  color: black;
  text-align: center auto;
  padding: 0px;
  text-decoration: none;
}
.dark-mode .image-container a {
  color: white;
}
.image-container a:hover {
  background-color: orange;
  color: white;
  transition: all 0.5s ease-in-out;

}
.dark-mode .image-container a:hover {
  background-color: orange;
  color: black;
  transition: all 0.5s ease-in-out;

}
