body {
  margin: 0;
  padding: 0;
  font-family: consolas Black, sans-serif;
  transition: all 0.5s ease-in-out;
  color: black;
  /*padding-bottom: 100px; /* add this line */
  min-height: 200vh; /* set minimum height of body to 100% viewport height */
  position: relative; /* make body a positioned element for footer placement */ 
}

#home{
  background-image: url("background image 2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
a {
  color: whitesmoke;
  padding: 0;
}

a:hover {
  background-color: #ffa500; /* Change the background color on hover */
  color: black; /* Change the text color on hover */
  padding: 0;

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*Flex box/nav bar background color*/
  background-color: #263166;
  padding: 10px;
  transition: all 0.5s ease-in-out;
}

.navbar-center {
  flex-grow: 1;
  text-align: center;
  /*Centered text color when not in dark mode*/
  color: black;
}

.navbar.scroll {
  background-color: #333;
  color: #fff;
}


.navbar a {
  /*Heading text colour*/
  color: Black;
  text-decoration: none;
  margin-right: 16px;
  transition: color 0.5s ease-in-out;
}
.navbar a:hover {
  background-color: #ffa500; /* Change the background color on hover */
  color: #fff; /* Change the text color on hover */
}

.dark-mode .navbar a {
  /*dark mode enabled heading text color*/
  color: #fff;
}
.dark-mode .navbar a:hover {
  background-color: #ffa500; /* Change the background color on hover */
  color: black; /* Change the text color on hover */
}

.search-form {
  /*search bar position*/
  margin-right: 50px;
  margin-top: 10px; /* add margin-top property to move search bar down */
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 0px solid #ccc;
  border-radius: 4px;
  padding: 4px;
}

.search-container input[type="text"] {
  width: 180px;
  height: 15px;
  border: none;
  font-size: 16px;
  padding: 8px;
  outline: none;
}

.search-container button[type="submit"] {
  background-color: grey;
  border: none;
  cursor: pointer;
  padding: 0;
}

.fa-search {
  font-size: 20px;
  color: #ccc;
  margin-right: 8px;
}

.dark-mode-button {
  position: relative;
  width: 50px;
  height: 28px;
  border-radius: 16px;
  border: 2px solid #333;
  background-color: #FAF9F6;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  padding: 2px;
  /*These two variables adjust the position of the dark mode button */
  top: -32px;
  right: -235px; 
}

.dark-mode-button::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  transition: all 0.5s ease-in-out;
}

.dark-mode {
  /*darkmode page background color*/
  background-color: #706b74;
  color: white;
}

.dark-mode .navbar {
  background-color: #263166;
  color: #fff;
}

.dark-mode .dark-mode-button {
  border-color: #fff;
  background-color: #333;
}

.dark-mode .dark-mode-button::after {
  left: calc(100% - 22px);
  background-color: #ffa500;
}
.dark-mode .navbar-center {
  color: #fff;
}
.image-container {
  margin-top: 1px;
  margin-bottom: 20px;
  text-align: center;
}
.image-container img {
  display: block;
  /*Image size*/
  width: 30% auto;
  height: auto;
  margin: auto;
}
.image-container a {
  display: border-box;
  color: black;
  text-align: center auto;
  padding: 0px;
  text-decoration: none;
}
.dark-mode .image-container a {
  color: white;
}
.image-container a:hover {
  background-color: orange;
  color: white;
  transition: all 0.5s ease-in-out;

}
.dark-mode .image-container a:hover {
  background-color: orange;
  color: black;
  transition: all 0.5s ease-in-out;

}

.img-slider{
  position: relative;
  width: 800px;
  height: 500px;
  margin: 50px;
  background: #1D212B;
}

.img-slider .slide{
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.img-slider .slide img{
  z-index: 1;
  width: 100%;
  border-radius: 5px;
}

.img-slider .navigation{
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.img-slider .navigation .btn{
  background: rgba(255, 255, 255, 0.5);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.img-slider .navigation .btn.active{
  background: deepskyblue;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 820px){
  .img-slider{
    width: 600px;
    height: 100px;
  }

  .img-slider .navigation{
    bottom: 25px;
  }

  .img-slider .navigation .btn{
    width: 10px;
    height: 10px;
    margin: 8px;
  }
}

@media (max-width: 820px){
  .img-slider{
    width: 600px;
    height: 375px;
  }


  .img-slider .navigation{
    bottom: 15px;
  }

  .img-slider .navigation .btn{
    width: 8px;
    height: 8px;
    margin: 6px;
  }
}

@media (max-width: 820px){
  .img-slider{
    width: 600px;
    height: 375px;
  }

  .img-slider .navigation{
    bottom: 10px;
  }
}
.info h1{
  position: relative;
  bottom: 25px;
  box-sizing: border-box;
  left: 0;
  width: 100%;
  padding: 0;
}
.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the height of the container to the full viewport height */
  
}

.img-slider {
  margin: 0 auto; /* Center the slider horizontally using margin auto */
}

.img-slider .slide img {
  width: 100%; /* Ensure the images fill the width of the slider container */
}
/* Footer styles */
.footer {
  position: absolute; /* position footer absolutely */
  bottom: 0; /* position footer at the bottom of the page */
  width: 100%; /* make footer the full width of the page */
  height: 100px; /* set height of footer */
  background-color: #263166; /* set background color of footer */
  color: black; /* set text color of footer */
  display: flex; /* use flexbox for content alignment */
  justify-content: space-evenly; /* horizontally center content */
  align-items: center; /* vertically center content */
}


/*.footer-center{
  flex-grow: 1;
  text-align: center;
  color: black;
}

.footer-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
*/
.footer a {
  color: black;
  text-decoration: none;
  margin-left: 16px;
  transition: color 0.5s ease-in-out;
}

.footer a:hover {
  background-color: #ffa500;
  color: white;
}
.dark-mode .footer {
  color: white;
}
.dark-mode .footer a{
  color: white;
}
.dark-mode .footer a:hover{
  color: black;
}

.social-media {
  text-align: center;
  margin-top: 20px;
  color: white;
  background-color: #263166;
}

.social-media a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  margin: 0 10px;
  transition: all 0.5s ease-in-out;
}

.social-media a:hover {
  color: white;
  transform: scale(1.2);
}

.text-container {
  display: inline-block;
  vertical-align: top;
  margin-left: -5px;
  border: 2px solid black;
  padding: 5px;
  width: 220px;
  
}
