body{
    background-color: #FAF9F6;
}
.navigation {
    display: flex;
    /* flex-flow: row wrap; */
    justify-content: flex-start;
    
    list-style: none;
    margin: 0; 
    background: deepskyblue;
  }
  
  .navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
  }
  
  .navigation a:hover {
    background: #1565C0;
  }
  
  @media all and (max-width: 800px) {
    .navigation {
      justify-content: flex-start;
    }
  }
  

.navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255,0.3); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
}
.navigation li:last-of-type a {
    border-bottom: none;
}
label {
    width:50px;
    height:20px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 20px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
    cursor: pointer;
    }
    label:after {
    content: "";
    width:18px;
    height: 18px;
    position: absolute;
    top:1px;
    left:2px;
    background: linear-gradient(180deg,#ffcc89,#d8860b);
    border-radius: 18px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    }
    input {
    width: 0;
    height: 0;
    visibility: hidden;
    }
    input:checked + label {
    background: #242424;
    }
    input:checked + label:after {
    left:49px;
    transform: translateX(-100%);
    background: linear-gradient(180deg,#777,#3a3a3a);
    }
    label, label:after {
    transition: 0.3s
    }
    label:active:after{ 
    width: 26px; 
    }
    .background {
        width: 10 vw;
        height: 10 vh;
        background: #fff;
        z-index: -1;
        position: absolute;
        transition: 0.3 s;
    }
    input:checked + label + .background {
        background: #242424;
    }
 
  