body {
  margin: 0;
  padding: 0px;
  font-family: consolas Black, sans-serif;
  transition: all 0.5s ease-in-out;
  color: black;
  padding-bottom: 0px;
  position: relative;

  background-image: url("page-background-3.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#home{
  background-image: url("blue home pic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

a {
  color: black;
  padding: 0;
}

a:hover {
  /* Change the background color on hover */
  background-color: #3e8de3; 
  /* Change the text color on hover */
  color: #FAF9F6; 
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Flex box/nav bar background color */
  background-color: #263166;
  padding: 8px;
  transition: all 0.5s ease-in-out;
  font-size: 20px;
}

.navbar-center {
  flex-grow: 1;
  text-align: center;
  /* Centered text color when not in dark mode */
  color: black;
    
}

.navbar.scroll {
  background-color: #333;
  color: #FAF9F6;
}

.navbar a {
  /* Heading text colour */
  color: Black;
  text-decoration: none;
  margin-right: 16px;
  transition: color 0.5s ease-in-out;
}

.navbar a:hover {
  /* Change the background color on hover */
  background-color: #3e8de3; 
  /* Change the text color on hover */
  color: #FAF9F6; 
}

.dark-mode .navbar a {
  /* Dark mode enabled heading text color*/
  color: #FAF9F6;
}

.dark-mode .navbar a:hover {
  /* Change the background color on hover */
  background-color: #3e8de3; 
  /* Change the text color on hover */
  color: black; 
}

.search-form {
  /* Search bar position */
  margin-right: 50px;
  /* Margin-top property to move search bar down */
  margin-top: 30px; 
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #FAF9F6;
  border: 2px solid black;
  border-radius: 14px;
  padding: 4px;
  padding-top: 10px;
  height: 30px;
}

.search-container input[type="text"] {
  width: 180px;
  height: 8px;
  border: none;
  font-size: 16px;
  padding: 8px;
  outline: none;
  background-color: #FAF9F6;
}

.search-container button[type="submit"] {
  background-color: #FAF9F6;
  border: none;
  cursor: pointer;
  padding: 0px;
}

.fa-search {
  font-size: 20px;
  background-color: transparent;
  height: 28px;
}

.dark-mode-button {
  position: relative;
  width: 50px;
  height: 28px;
  border-radius: 16px;
  border: 2px solid black;
  background-color: #FAF9F6;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  padding: 2px;
  /* These two variables adjust the position of the dark mode button */
  top: -40px;
  right: -230px; 
}

.dark-mode-button::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  transition: all 0.5s ease-in-out;
}

.dark-mode {
  /* Darkmode page background colour */
  background-color: #647494;
  color: #FAF9F6;
}

.dark-mode .navbar {
  /* Darkmode Nav bar background colour */
  background-color: #263166;
  color: #FAF9F6;
}

.dark-mode .dark-mode-button {
  border-color: #FAF9F6;
  background-color: #333;
}

.dark-mode .dark-mode-button::after {
  left: calc(100% - 22px);
  background-color: #ffa500;
}

.dark-mode .navbar-center {
  color: #FAF9F6;
}

.image-container {
  margin-top: 1px;
  margin-bottom: 20px;
  text-align: center;
}

.image-container img {
  display: block;
  /* Image size */
  width: 30% auto;
  height: auto;
  margin: auto;
}

.image-container a {
  display: border-box;
  color: black;
  text-align: center auto;
  padding: 0px;
  text-decoration: none;
}

.dark-mode .image-container a {
  color: #FAF9F6;
}

.image-container a:hover {
  background-color: #3e8de3;
  color: #FAF9F6;
  transition: all 0.5s ease-in-out;
}

.dark-mode .image-container a:hover {
  background-color: #3e8de3;
  color: black;
  transition: all 0.5s ease-in-out;
}

.img-slider{
  position: relative;
  padding-top: 50px;
  width: 800px;
  height: 500px;
  margin: 50px;
  /* Changes the background colour behind the image slider */
  background: transparent;
  /* Setting this value so that the home page slidedshow puts the footer in the correct place in mobile view */
  padding-bottom: 663px; 
}

.img-slider .slide{
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.img-slider .slide img{
  z-index: 1;
  width: 100%;
  border-radius: 5px;
}

.img-slider .navigation{
  z-index: 2;
  position: absolute;
  display: flex;
  /* This value adjusts the position of the three image slider buttons */
  bottom: 675px; 
  left: 50%;
  transform: translateX(-50%);
}

.img-slider .navigation .btn{
  background: black;
  width: 20px;
  height: 20px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.img-slider .navigation .btn.active{
  /* Changes the colour of the dot buttons in the image slider */
  background: deepskyblue;
  box-shadow: 0 0 2px black;
}

.img-slider {
  /* Center the slider horizontally with margin auto */
  margin: 0 auto; 
}

.img-slider .slide img {
  /* Ensure the images fill the width of the slider container */
  width: 100%; 
}

@media (max-width: 820px){
  .img-slider{
    width: 600px;
    height: 100px;
  }

  .img-slider .navigation{
    bottom: 25px;
  }

  .img-slider .navigation .btn{
    width: 10px;
    height: 10px;
    margin: 8px;
  }
}

.img-slider-recipe{
  position: relative;
  padding-top: 50px;
  width: 500px;
  height: 350px;
  margin: 50px;
  /* Changes the background colour behind the image slider */
  background: transparent;
  /* Setting this value so that the home page slidedshow puts the footer in the correct place in mobile view */
  padding-bottom: 663px; 
}

.img-slider-recipe .slide{
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.img-slider-recipe .slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.img-slider-recipe .slide img{
  z-index: 1;
  width: 100%;
  border-radius: 5px;
}

.img-slider-recipe .navigation{
  z-index: 2;
  position: absolute;
  display: flex;
  /* This value adjusts the psotion of the three image slider buttons */
  bottom: 650px; 
  left: 50%;
  transform: translateX(-50%);
}

.img-slider-recipe .navigation .btn{
  /* Changes the background colour of the three slider buttons */
  background: black;
  width: 20px;
  height: 20px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.img-slider-recipe .navigation .btn.active{
  /* Changes the colour of the dots in the image slider */
  background: deepskyblue;
  box-shadow: 0 0 2px black;
}

@media (max-width: 820px){
  .img-slider-recipe{
    width: 600px;
    height: 100px;
  }

  .img-slider-recipe .navigation{
    bottom: 25px;
  }

  .img-slider-recipe .navigation .btn{
    width: 10px;
    height: 10px;
    margin: 8px;
  }
}

.img-slider-recipe {
  /* Center the slider horizontally using margin auto */
  margin: 0 auto; 
}

.img-slider-recipe .slide img {
  /* Ensure the images fill the width of the slider container */
  width: 100%; 
}

.info h1{
  position: relative;
  bottom: 25px;
  box-sizing: border-box;
  left: 0;
  width: 100%;
  padding: 0;
  border: 1px solid black;

}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Set the height of the container to the full viewport height */
  height: 100vh; 
  
}

/* Footer style */
.footer {
  background-color: #263166;
  color: black;
  padding: 28px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 135px;
  height: 50px;
}

.footer a {
  color: black;
  text-decoration: none;
  margin-left: 16px;
  transition: color 0.5s ease-in-out;
}

.footer a:hover {
  background-color: #3e8de3;
  color: #FAF9F6;
}
.dark-mode .footer {
  color: #FAF9F6;
}
.dark-mode .footer a{
  color: #FAF9F6;
}
.dark-mode .footer a:hover{
  color: black;
}

.social-media {
  text-align: center;
  margin-top: 20px;
  color: #FAF9F6;
  background-color: #263166;
}

.social-media a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  margin: 0 10px;
  transition: all 0.5s ease-in-out;
}

.social-media a:hover {
  color: #FAF9F6;
  padding: 3px;
  transform: scale(1.2);
  background-color: #263166;

}

.text-container-1 {
  display: inline-block;
  vertical-align: top;
  margin-left: -5px;
  border: 2px solid black;
  padding: 5px;
  width: 220px; 
  height: 55px;
  background-color: #0288D1;
}

.text-container-2 {
  display: inline-block;
  vertical-align: top;
  margin-top: -185px;
  margin-left: 508px;
  border: 2px solid black;
  padding: 5px;
  width: 432px;
  height: 167px;
  background-color: #0288D1;

}

.text-container-3 {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  margin-left: 190px;
  border: 2px solid black;
  padding: 5px;
  width: 625px;
  height: 100% auto;	
  background-color: #0288D1;

}

.text-container-4{
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  margin-left: 130px;
  border: 2px solid black;
  padding: 6px;
  width: 750px;
  height: 100% auto;
  background-color: #0288D1;

}

.print-button button{
  /* Change background colour */
  background-color: #AAABB8; 
  /* Change text colour */
  color: black; 
  /* Increase font size */
  font-size: 16px; 
  /* Add cursor pointer */
  cursor: pointer; 
  border: 2px solid black;
  vertical-align: top;
  margin-top: -277px;
  margin-left: 744px;
  border: 2px solid black;
  width: 210px;
  height: 69px;
}

.print-button button:hover {
  /* Change background colour on hover */
  background-color: #808295; 
}

.converter-container {
  background-color: #0288D1;
  border: 2px solid black;
  padding: 5px;
  margin-left: 260px;
  margin-top: 5px;
  width: 500px;
  height: 224px;
  margin-bottom: 50px;
  }
  


label {
  margin-right: 10px;
  font-size: 20px;
  width: 120px;
  height: 20px;
    
}

input {
  width: 120px;
  margin-right: 0px;
  height: 20px;
    margin-bottom: 10px;
    
}

button {
  margin-top: 5px;
  padding: 5px 10px;
  font-size: 16px;
}

.result-container {
  margin-top: 0px;
  border: 2px solid black;
  padding: 12px;
}

#result {
  font-size: 18px;
}

.convert-button {
  font-size: 15px;
  font-family: consolas Black, sans-serif;
  width: 150px;
  height: 40px;
  margin-top: 10px;
  margin-left: 10px;

}
.converter-container {
  text-align: center;
}

.converter-container h1 {
  margin-top: 0;
}

.form-container {
  margin-top: 20px;
}

.result-container {
  margin-top: 20px;
}

.amount-label {
  display: inline-table;
  justify-content: space-between;
  align-items: left;
  margin-bottom: 0px;
}

.unit-from, .unit-to {
  width: 220px;
    display: inline-block;
}

.unit-from-label, .unit-to-label {
  width: 10%;
  text-align: left;
    display: inline;
}

select#unit-from, select#unit-to {
    font-size: 16px;
    padding: 5px;
}

ul.a {
    list-style-type: none;
}
@media print {
  @page {
    size: portrait;
  }
  body{
    background-image: none;
  }
  .text-container-1, .text-container-2, .text-container-3, .text-container-4, .converter-container{
    background-color: transparent;
  }
}

#recipe-image{
    width: 400px;
    height: 250px;
    margin-left: 100px ;
    border: 2px solid black;
}

.image-caption {
  border: 1px solid black;
  padding: 10px;
  width: 200px;
  margin: 0 auto;
  float: none;
  display: inline-block;
  vertical-align: middle;
}

/* Recipe page slideshow css starts here */
.mySlides1, .mySlides2, .mySlides3 {display: none}


/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons on image slideshow*/
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: orange;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: grey;
}

/* Position the next button to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Add a grey background colour on hover of the previous and next buttons */
.prev:hover, .next:hover {
  background-color: #FAF9F6;
  color: black;
}