body {
  margin: 0;
  padding: 0px;
  font-family: consolas Black, sans-serif;
  transition: all 0.5s ease-in-out;
  color: black;
  padding-bottom: 0px;
  /*max-height: 100% auto;*/
  position: relative;
  /*width: fit-content;*/

  background-image: url("page-background-3.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#home{
  background-image: url("blue home pic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
a {
  color: white;
  padding: 0;
}

a:hover {
  background-color: #3e8de3; /* Change the background color on hover */
  color: black; /* Change the text color on hover */
  padding: 0;

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*Flex box/nav bar background color*/
  background-color: #263166;
  padding: 8px;
  transition: all 0.5s ease-in-out;
	font-size: 20px;
  /*width: 200% auto; this might work to keep the nav bar a good size width on mobile*/

}

.navbar-center {
  flex-grow: 1;
  text-align: center;
  /*Centered text color when not in dark mode*/
  color: black;
	
}

.navbar.scroll {
  background-color: #333;
  color: #fff;
}


.navbar a {
  /*Heading text colour*/
  color: Black;
  text-decoration: none;
  margin-right: 16px;
  transition: color 0.5s ease-in-out;
}
.navbar a:hover {
  background-color: #3e8de3; /* Change the background color on hover */
  color: #fff; /* Change the text color on hover */
}

.dark-mode .navbar a {
  /*dark mode enabled heading text color*/
  color: #fff;
}
.dark-mode .navbar a:hover {
  background-color: #3e8de3; /* Change the background color on hover */
  color: black; /* Change the text color on hover */
}

.search-form {
  /*search bar position*/
  margin-right: 50px;
  margin-top: 10px; /* add margin-top property to move search bar down */
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 0px solid #ccc;
  border-radius: 4px;
  padding: 4px;
}

.search-container input[type="text"] {
  width: 180px;
  height: 8px;
  border: none;
  font-size: 16px;
  padding: 8px;
  outline: none;
}

.search-container button[type="submit"] {
  background-color: grey;
  border: none;
  cursor: pointer;
  padding: 0;
}

.fa-search {
  font-size: 20px;
  color: #ccc;
  background-color: white;
}

.dark-mode-button {
  position: relative;
  width: 50px;
  height: 28px;
  border-radius: 16px;
  border: 2px solid #333;
  background-color: #FAF9F6;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  padding: 2px;
  /*These two variables adjust the position of the dark mode button */
  top: -32px;
  right: -230px; 
}

.dark-mode-button::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  transition: all 0.5s ease-in-out;
}

.dark-mode {
  /*darkmode page background color*/
  background-color: #647494;
  color: white;
}

.dark-mode .navbar {
  background-color: #263166;
  color: #fff;
}

.dark-mode .dark-mode-button {
  border-color: #fff;
  background-color: #333;
}

.dark-mode .dark-mode-button::after {
  left: calc(100% - 22px);
  background-color: #ffa500;
}
.dark-mode .navbar-center {
  color: #fff;
}
.image-container {
  margin-top: 1px;
  margin-bottom: 20px;
  text-align: center;
}
.image-container img {
  display: block;
  /*Image size*/
  width: 30% auto;
  height: auto;
  margin: auto;
}
.image-container a {
  display: border-box;
  color: black;
  text-align: center auto;
  padding: 0px;
  text-decoration: none;
}
.dark-mode .image-container a {
  color: white;
}
.image-container a:hover {
  background-color: #3e8de3;
  color: white;
  transition: all 0.5s ease-in-out;

}
.dark-mode .image-container a:hover {
  background-color: #3e8de3;
  color: black;
  transition: all 0.5s ease-in-out;

}

.img-slider{
  position: relative;
  padding-top: 50px;
  width: 800px;
  height: 500px;
  margin: 50px;
  background: transparent;/*changes the background colour behind the image slider*/
  padding-bottom: 665px; /*Setting this value so that the home page slidedshow puts the footer in the correct place in mobile view*/
}

.img-slider .slide{
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.img-slider .slide img{
  z-index: 1;
  width: 100%;
  border-radius: 5px;
}

.img-slider .navigation{
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 677px; /*This value adjusts the psotion of the three image slider buttons.*/
  left: 50%;
  transform: translateX(-50%);
}

.img-slider .navigation .btn{
  background: rgba(255, 255, 255, 0.5);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.img-slider .navigation .btn.active{
  background: deepskyblue;/*Changes the colour of the dots in the image slider*/
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 820px){
  .img-slider{
    width: 600px;
    height: 100px;
  }

  .img-slider .navigation{
    bottom: 25px;
  }

  .img-slider .navigation .btn{
    width: 10px;
    height: 10px;
    margin: 8px;
  }
}

@media (max-width: 820px){
  .img-slider{
    width: 600px;
    height: 375px;
  }


  .img-slider .navigation{
    bottom: 15px;
  }

  .img-slider .navigation .btn{
    width: 8px;
    height: 8px;
    margin: 6px;
  }
}

@media (max-width: 820px){
  .img-slider{
    width: 600px;
    height: 375px;
  }

  .img-slider .navigation{
    bottom: 10px;
  }
}
.info h1{
  position: relative;
  bottom: 25px;
  box-sizing: border-box;
  left: 0;
  width: 100%;
  padding: 0;
}
.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the height of the container to the full viewport height */
  
}

.img-slider {
  margin: 0 auto; /* Center the slider horizontally using margin auto */
}

.img-slider .slide img {
  width: 100%; /* Ensure the images fill the width of the slider container */
}

/* Footer styles */
.footer {
  background-color: #263166;
  color: black;
  padding: 28px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 135px;
  height: 50px;
}

.footer a {
  color: black;
  text-decoration: none;
  margin-left: 16px;
  transition: color 0.5s ease-in-out;
}

.footer a:hover {
  background-color: #3e8de3;
  color: white;
}
.dark-mode .footer {
  color: white;
}
.dark-mode .footer a{
  color: white;
}
.dark-mode .footer a:hover{
  color: black;
}

.social-media {
  text-align: center;
  margin-top: 20px;
  color: white;
  background-color: #263166;
}

.social-media a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  margin: 0 10px;
  transition: all 0.5s ease-in-out;
}

.social-media a:hover {
  color: white;
  padding: 3px;
  transform: scale(1.2);
  background-color: #263166;

}

.text-container-1 {
  display: inline-block;
  vertical-align: top;
  margin-left: -5px;
  border: 2px solid black;
  padding: 5px;
  width: 220px; 
  height: 55px;
}

.text-container-2 {
  display: inline-block;
  vertical-align: top;
  margin-top: -183px;
  margin-left: 508px;
  border: 2px solid black;
  padding: 5px;
  width: 432px;
  height: 165px;
}

.text-container-3 {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  margin-left: 190px;
  border: 2px solid black;
  padding: 5px;
  width: 625px;
  height: 100% auto;	
}

.text-container-4{
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  margin-left: 130px;
  border: 2px solid black;
  padding: 6px;
  width: 750px;
  height: 100% auto;
}

.print-button button{
  background-color: #AAABB8; /* Change background color */
  color: black; /* Change text color */
  /*border: none; /* Remove border */
  /*padding: 10px 20px; /* Add padding */
  font-size: 16px; /* Increase font size */
  cursor: pointer; /* Add cursor pointer */
  border: 2px solid black;
  /*padding: 5px;*/
  vertical-align: top;
  margin-top: -277px;
  margin-left: 744px;
  border: 2px solid black;
  /*padding: 0px;*/
  width: 210px;
  height: 69px;
}

.print-button button:hover {
  background-color: #808295; /* Change background color on hover */
}

.converter-container {
  background-color: transparent;
  border: 2px solid black;
  padding: 5px;
  /*max-width: 400px;*/
  margin-left: 260px;
  margin-top: 5px;
  width: 500px;
  height: 224px;
  }
  


label {
  margin-right: 10px;
  font-size: 20px;
  width: 120px;
  height: 20px;
	
}

input {
  width: 120px;
  margin-right: 0px;
  height: 20px;
	margin-bottom: 10px;
	
}

button {
  margin-top: 5px;
  padding: 5px 10px;
  font-size: 16px;
}

.result-container {
  margin-top: 0px;
  border: 2px solid black;
  padding: 12px;
}

#result {
  font-size: 18px;
}

.convert-button {
  font-size: 15px;
  font-family: consolas Black, sans-serif;
  width: 150px;
  height: 40px;
  margin-top: 10px;
  margin-left: 10px;

}
.converter-container {
  text-align: center;
}

.converter-container h1 {
  margin-top: 0;
}

.form-container {
  margin-top: 20px;
}

.result-container {
  margin-top: 20px;
}

/*select#unit-from, select#unit-to {
  font-size: 14px;
  padding: 5px;
}*/
.amount-label {
  display: inline-table;
  justify-content: space-between;
  align-items: left;
  margin-bottom: 0px;
}

.unit-from, .unit-to {
  width: 220px;
	display: inline-block;
}

.unit-from-label, .unit-to-label {
  width: 10%;
  text-align: left;
	display: inline;
}

select#unit-from, select#unit-to {
	font-size: 16px;
	padding: 5px;
}

ul.a {
	list-style-type: none;
}
@media print {
  @page {
    size: portrait;
  }
  
}

/*#amount{
  background-color: transparent;
}*/

#recipe-image{
    width: 400px;
    height: 250px;
    margin-left: 100px ;
    border: 2px solid black;
  
}

/* #page-background-image{
  background-image: url("background image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
} */